*{
    box-sizing: border-box;
}

h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

body {
    background-color: rgb(224, 236, 207);
}

.header-container,
.main-container {
     max-width: 56%;
     margin: 0 auto;
}

.title {
    padding-top: 0.3125rem;
    padding-bottom: 0.625rem;
    border-bottom: 0.125rem solid #c6c8ca;
    font-size: 1.45rem;
}

.meme-title {
    padding-top: 0.625rem;
    padding-bottom: 0.3125rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: blue;
}

.meme-plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memes {
    padding-bottom: 0.3125rem;
}

#meme1:active ~ .meme-button,
#meme2:active ~ .meme-button,
#meme3:active ~ .meme-button,
#meme4:active ~ .meme-button,
#meme5:active ~ .meme-button {
    opacity: 0.5;
}

.meme-one,
.meme-two,
.meme-three,
.meme-four {
    padding-bottom: 0.3125rem;
    border-bottom: 0.125rem solid #c6c8ca;
}

.main-container:hover .meme-title {
    color: #000;
}

#meme1:checked ~ .meme-button > .meme-plus > .plus,
    #meme2:checked ~ .meme-button > .meme-plus > .plus,
    #meme3:checked ~ .meme-button > .meme-plus > .plus,
    #meme4:checked ~ .meme-button > .meme-plus > .plus,
    #meme5:checked ~ .meme-button > .meme-plus > .plus {
        transform: rotate(45deg);
        transition: 0.01s;
}

.memes:hover {
    cursor: pointer;
}
.meme-one:hover .meme-image1,
.meme-two:hover .meme-image2,
.meme-three:hover .meme-image3,
.meme-four:hover .meme-image4,
.meme-five:hover .meme-image5 {
    display: block;
    cursor: pointer;
    animation-name: meme;
    animation-duration: 1s;  
}
.memes:hover .plus {
    content: "";
    display:inline-block;
    padding-left: 0.0625rem;
    width: 1.25rem;
    height: 1.25rem;
    background:
      linear-gradient(#000, #000),
      linear-gradient(#000, #000);
    background-position:center;
    background-size: 50% 0.1875rem, 0.1875rem 50%; 
    background-repeat:no-repeat;
    border: none;
    transition: 0.1s;
}
.meme-one:hover .plus,
.meme-two:hover .plus,
.meme-three:hover .plus,
.meme-four:hover .plus,
.meme-five:hover .plus {
     transform: rotate(45deg);
     transition: 0.01s;
} 
.meme-button:hover {
    cursor: pointer;
}

#meme1:checked ~ .meme-button > .meme-image1,
#meme2:checked ~ .meme-button > .meme-image2,
#meme3:checked ~ .meme-button > .meme-image3,
#meme4:checked ~ .meme-button > .meme-image4,
#meme5:checked ~ .meme-button > .meme-image5 {
    display: block;
}

#meme1:active ~ .meme-button > .meme-plus > .meme-title,
#meme2:active ~ .meme-button > .meme-plus > .meme-title,
#meme3:active ~ .meme-button > .meme-plus > .meme-title,
#meme4:active ~ .meme-button > .meme-plus > .meme-title,
#meme5:active ~ .meme-button > .meme-plus > .meme-title {
    color: blue;
}